.recipe-search-body {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.recipe-search {
    height: 465px;
    width: 370px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 0px .2px 0px rgba(50, 50, 50, 0.75);
}
