.f-recipe-page-content-container{
    background-color: $backgroundGrey;
    width: 84%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    padding-top: 30px;
    min-height: 100vh;
}