.r-search-container {
    height: 70%;
}

.r-search-title {
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 1.5rem;

    span {
        margin-left: 10px;
        font-size: 1.3rem;
        color: $sideBarFont;
    }
}

.r-filter-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .form-control {
        width: 150px;
    }

    .form-slider {
        width: 150px;
        text-align: center;
    }
}

.search-tags-container {
    display: flex;
    .tag-body {
        padding: 12px;
        background-color: $semiDarkGrey;
        margin-right: 25px;
        border-radius: 7px;
    }
}
