.r-search-container {
    height: 70%;
}

.r-search-title {
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 1.5rem;

    span {
        margin-left: 10px;
        font-size: 1.3rem;
        color: $sideBarFont;
    }
}

.r-filter-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .form-control {
        width: 150px;
    }

    .form-slider {
        width: 150px;
        text-align: center;
    }
}

.search-tags-container {
    display: flex;
    .tag-body {
        border-radius: 7px;
        height: 44px;
        background-color: $semiDarkGrey;
        margin-right: 25px;
        width: 131px;
    }
}
.search-tags-body-desc {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-tags-container-overlay {
    height: 100%;
}
.search-tags-container-close {
    position: relative;
    top: -51px;
    left: 120px;
    cursor: pointer;
}
